<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Income / Expense</h4>

        <form (ngSubmit)="sendIncomes()" [formGroup]="incomesForm">
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              class="form-control"
              formControlName="description"
              placeholder="Description"
            />
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="amount"
            />
          </div>

          <div class="form-group">
            <label>Type <small>(click to change)</small></label>
            <br />
            <button
              *ngIf="type === 'income'"
              (click)="type = 'expense'"
              type="button"
              class="btn btn-primary btn-block"
            >
              Income
            </button>
            <button
              *ngIf="type === 'expense'"
              (click)="type = 'income'"
              type="button"
              class="btn btn-warning btn-block"
            >
              Expense
            </button>
          </div>

          <hr />
          <button
            [disabled]="incomesForm.invalid"
            type="submit"
            class="btn btn-success mr-2"
          >
            <i class="fa fa-save"></i>
            Add<i *ngIf="Loading" class="fa fa-spin fa-sync"></i>
          </button>

          <button type="reset" (click)="reset()" class="btn btn-light">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
