<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of incomesExpenses">
              <td>{{ item.description }}</td>
              <td>{{ item.amount }} €</td>
              <td [class.text-success]="item.type === 'i'"
                  [class.text-danger]="item.type === 'e'"
              >{{ item.type }}</td>
              <td>{{ item.uid }}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item?.uid)">
                  <i class="fa fa-trash"></i> borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
